
# Kylin Common
[kylin-common-updates]
name = Kylin - Updates
baseurl = {{ repo_url }}/os/linux/kylin/common-updates/$basearch/
gpgcheck = 0
enabled = 1

[kylin-common-addons]
name = Kylin - Addons
baseurl = {{ repo_url }}/os/linux/kylin/common-addons/$basearch/
gpgcheck = 0
enabled = 1

[kylin-common-loopholes]
name = Kylin - Loopholes
baseurl = {{ repo_url }}/os/linux/kylin/common-loopholes/$basearch/
gpgcheck = 0
enabled = 1
