# Linux Common
[linux-common-updates]
name = Linux - Updates
baseurl = {{ repo_url }}/os/linux/common-updates/$basearch/
gpgcheck = 0
enabled = 1

[linux-common-addons]
name = Linux - Addons
baseurl = {{ repo_url }}/os/linux/common-addons/$basearch/
gpgcheck = 0
enabled = 1

[linux-common-Loopholes]
name = Linux - Loopholes
baseurl = {{ repo_url }}/os/linux/common-loopholes/$basearch/
gpgcheck = 0
enabled = 1
